.data{
    width: 50px;
    border: 1px solid silver;
}
main{
    text-align:center;
    gap:10px;
    line-height:35px;
    padding-top:10px;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content:space-between;
    justify-items:center;
    grid-template-areas:
    "titulo"
    "infocartao"
    "infopessoa"

}
.infopessoa{
    grid-area:infopessoa;
}
.infocartao{
    grid-area:infocartao;
}
.titulo{
    grid-area:titulo;
}
.confirmarcompra{
    grid-area:confirmarcompra;
}
label{
    font-size:1.4rem;
}
input{
    height:35px;
    border-radius:5px;
    border: 1px solid silver;
}
select{
    font-size:1.1rem;
    padding: 5px 8px;
    border-radius:5px;
    border: 1px solid silver;
}

.botao{
    height:40px;
    font-size:16px;
    padding:0 8px;
    background-color:lightslategray;
    color:white;
    border-radius: 5px;
}
span{
    font-size: 1.3rem;
}

@media (min-width:700px) {
    main{
        line-height:37px;
        padding-left:8%;
        text-align:start;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-content: space-around;
        justify-items:start;
        grid-template-areas:
        "titulo titulo"
        "infocartao infopessoa"
    }
}
@media (min-width:1200px){
    main{
    grid-template-columns: 0.6fr 1fr;
}
}


